<template>
  <table class="border-t-4 border-r-4 border-gray-900">
    <tr 
      v-for="row in kakuro.grid" :key="row"
      class="bg-white"
    >
      <kakuro-cell v-for="c in row" :key="c" v-bind:cell="c"></kakuro-cell>
    </tr>
  </table>

  <button class="relative w-fit h-fit px-4 py-1
    text-lg text-gray-800 bg-zinc-400
    border rounded border-gray-900" v-on:click="solve">
    Solve
  </button>
</template>

<script>
import KakuroCell from './KakuroCell.vue'
import Solver from '../logic/Solver'
import Grid from '@/logic/Grid'

export default {
  components: { KakuroCell },
  data() {
    return { kakuro: new Grid(
// `- 15/ 13/
// /16 . .
// /12 . .`

`- 4/ 6/ - -
/4 . . 23/ -
/13 . . . 16/
- /16 . . .
- - /16 . .`

// `- - 32/ 15/ - - 16/ 4/ 13/ -
// - 18/14 . . 14/ /10 . . . 3/
// /28 . . . . 15/14 . . . .
// /16 . . 21/17 . . . 16/3 . .
// /14 . . . 20/23 . . . 24/ 12/
// /13 . . . . 3/11 . . . .
// - 14/ 11/13 . . . 4/17 . . .
// /7 . . 17/7 . . . 13/12 . .
// /21 . . . . /10 . . . .
// - /24 . . . - /11 . . -`
    )
  }},
  methods: {
    solve() {
      let s = new Solver(this.kakuro)
      console.log(s.solveKakuro(0, 0))
    }
  }
}
</script>
