<template>
  <td class="px-4 py-4 border-b-4 border-l-4 border-gray-900"
      v-bind:class="{ 'bg-gray-900': black() }">
    <h3 v-if="clue()"
      class="text-2xl text-center text-gray-800">{{ cell.bottom }} / {{ cell.right }}</h3>
    <h3 v-else-if="white()"
      class="text-2xl text-center text-gray-800">{{ cell.value || '' }}</h3>
  </td>
</template>

<script>
import Black from '@/logic/Black'
import White from '@/logic/White'
import Clue from '@/logic/Clue'
export default {
  props: ['cell'],
  methods: {
    black() {
      return this.cell instanceof Black 
    },
    white() {
      return this.cell instanceof White
    },
    clue() {
      return this.cell instanceof Clue
    }
  }
}
</script>