<template>
  <div class="w-screen h-screen flex flex-col justify-evenly items-center
    bg-zinc-600 text-gray-200">
    <h1 class="font-bold mb-8 text-2xl">Simply a kakuro solver</h1>
    <KakuroGrid />
  </div>
</template>

<script>
import KakuroGrid from './components/KakuroGrid.vue'

export default {
  name: 'App',
  components: {
    KakuroGrid
  }
}
</script>

<style>
</style>
